body {
	background: url("background-02.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

p {

	font-family: "futura";
	color:white;
	font-size: 16px;
}

h1{
	color:white;
}

.navbar {
    background-color: #3c3d41;
	padding: 10px 10px;
	color: white;

}